body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

}

.calender{
    position: relative;
    width: 30%;
    height: 50%;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 91.5%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    width: 13.6%;
    padding-bottom: 13px;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    transition: all 0.2s ease-in-out;
    padding-top: 13px;
}

.days li:hover {
    background-color: #e0dede;
    cursor: pointer;
}
/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}